.main {
    background-image: url("./food.jpg");
    background-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0;
}

.card-overlay{
    position: relative;
  }
.card-overlay:after {
    content:'';
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
}

